# Node.js dependencies
node_modules/
pnpm-lock.yaml

# Build outputs
.next/
out/
dist/

# TypeScript build files
*.tsbuildinfo

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log
*.log.*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File uploads (Exclude `documents/` folder contents, but not `documents/` itself)
documents/*
!documents/

# Tailwind CSS build files
.tailwind/

# Next.js specific
.next/
node_modules/
dist/
